<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/css/home.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1>We GITGIT</h1>
            <a href="@Url.Action("ViewAccount", "Account", new { username = User.Identity.Name })" class="btn">View Account</a>
        </div>
    </div>

</body>
</html>