body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: colorChange 10s infinite alternate; /* Adding animation for color change */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Adding transparency to the container background */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Enhancing box shadow for depth */
}

.header {
    text-align: center;
    margin-bottom: 30px;
    color: black; /* Changing text color to white */
}

.account-info {
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    color: black; /* Changing text color to white */
}

    .account-info p {
        margin: 10px 0;
    }

        .account-info p strong {
            margin-right: 10px;
        }

/* Animation for color change */
@keyframes colorChange {
    0% {
        background-color: #0f0c29;
    }

    50% {
        background-color: #302b63;
    }

    100% {
        background-color: #24243e;
    }
}
